.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

$values-breakpoints: map-values($breakpoints);
@for $i from 0 to length($breakpoints) {
  @media (min-width: nth($values-breakpoints, $i+1)) {
    .container {
      max-width: nth($max-width-container, $i+1)
    }
  }
}

@each $level, $value in $font-sizes {
  .h#{$level}, h#{$level} {
    font-size: #{$value};
  }
}
@each $side, $sidePosition in $sides {
  @each $level, $value in $spacers {
    .m#{$side}-#{$level} {
      margin-#{$sidePosition}:$value;
    }
  }
  @each $level, $value in $spacers {
    .p#{$side}-#{$level} {
      padding-#{$sidePosition}:$value;
    }
  }
}
@each $breakpoint, $sizeBreak in $breakpoints {
  @media screen and (min-width: #{$sizeBreak}) {
    @each $side, $sidePosition in $sides {
      @each $level, $value in $spacers {
        .m#{$side}-#{$breakpoint}-#{$level} {
          margin-#{$sidePosition}:$value;
        }
      }
      @each $level, $value in $spacers {
        .p#{$side}-#{$breakpoint}-#{$level} {
          padding-#{$sidePosition}:$value;
        }
      }
    }
  }
}
@each $level, $value in $spacers {
  .p-#{$level} {
    padding: #{$value};
  }
  .px-#{$level} {
    padding-left: #{$value};
    padding-right: #{$value};
  }
  .py-#{$level} {
    padding-top: #{$value};
    padding-bottom: #{$value};
  }
  .m-#{$level} {
    margin: #{$value};
  }
  .mx-#{$level} {
    margin-left: #{$value};
    margin-right: #{$value};
  }
  .my-#{$level} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }
  .gap-#{$level} {
    gap: #{$value};
  }
}

@each $breakpoint, $sizeBreak in $breakpoints {
  @media screen and (min-width: #{$sizeBreak}) {
    @each $level, $value in $spacers {
      .p-#{$breakpoint}-#{$level} {
        padding: #{$value};
      }
      .px-#{$breakpoint}-#{$level} {
        padding-left: #{$value};
        padding-right: #{$value};
      }
      .py-#{$breakpoint}-#{$level} {
        padding-top: #{$value};
        padding-bottom: #{$value};
      }
      .m-#{$breakpoint}-#{$level} {
        margin: #{$value};
      }
      .mx-#{$breakpoint}-#{$level} {
        margin-left: #{$value};
        margin-right: #{$value};
      }
      .my-#{$breakpoint}-#{$level} {
        margin-top: #{$value};
        margin-bottom: #{$value};
      }
    }
  }
}

