.card {
  background: white;
  box-shadow: 0px 4px 10px 0px #a8a8a8;
  transition: transform 400ms;
  &:hover {
    transform: scale(1.05);
  }
}
.imgCard {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.content {
  padding: 1rem;
}