@media screen and (min-width: 768px) {
  .card {
    width: auto;
  }
  .imgCard {
    height: 200px;
    border-radius: inherit;
  }
}
.card {
  transition: transform 400ms;
  &:hover {
    transform: scale(1.05);

    .imgCard {
      filter: brightness(1);
    }
  }
}
.imgCard {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px #a8a8a8;
  transition: filter 300ms;
  filter: brightness(0.5);
}
.content {
  position: absolute;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
}