.nav {
  background-color: #f4f4f4;
  box-shadow: 0 0 20px 0px #cecece;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}
.logo {
  flex-grow: 1;
}
.logo_img {
  height: 30px;
}
.logoText {
  display: none;
}
.button {
  border: none;
  background: inherit;
  color: #6d6e71;
  &:focus {
    outline: none;
  }
}
.cart {
  position: relative;
  font-size: 20px;
}
.badge {
  position: absolute;
  background-color: #1a8bd1;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.search {
  border: none;
  border-bottom: 1px solid #ababab;
  background-color: inherit;

  &:focus, &:focus-visible {
    outline: none;
    border-bottom: 1px solid #888888;
  }
}
@media screen and (min-width: 768px) {
  .logoText {
    display: block;
    font-size: 22px;
    color: #6D6E71;
  }
}