.card {
  width: 300px;
  height: 390px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .25s ease;
  backface-visibility: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card:after {
  border: none;
  width: 100%;
  content: '';
  left: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  z-index: 20;
  transition: all .25s ease;
}
.card img {
  height: 100%;
  z-index: 10;
  transition: all .25s ease;
  filter: brightness(0.8);
}

.card .conText {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 20px;
  padding-bottom: 50px;
  transition: padding 200ms;
}


.card .conText p {
  font-size: .8rem;
  opacity: 0;
  margin-bottom: -170px;
  transition: all .25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.btnAdd {
  padding: 7px 17px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #57bfff;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  // margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all .25s ease;
  font-size:.75rem;
  outline: none;
  top: 0;
}


.ul {
  position: absolute;
  right: 20px;
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 40;
  border-radius: 14px;
  top: 10px;
  opacity: 0;
  transform: translate(100%);
  transition: all .25s ease;
}

.ul li {
  background: #fff;
  list-style: none;
  width: 120%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;
  transition: all .25s ease;
  backface-visibility: hidden;
  border-radius: inherit;
}

.ul li:hover {
  opacity: 1;
  transform: translate(-7px, -4px);
  border-radius: 6px;
}

.ul li p {
  font-size: 0.9rem;
  color: #000;
}

.shortDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (hover: hover) {
  .containerCard:hover {
    .card:after {
      height: 280px;
      border: none;
    }
    .card .conText p {
      margin-bottom: 0px;
      opacity: 1;
    }
    .card img {
      transform: scale(1.25);
    }
    .card .ul {
      transform: translate(0);
      opacity: 1;
    }
    .card .conText {
      padding-bottom: 20px;
    }
  }
}
@media (hover: none) {
  .containerCard {
    .card:after {
      height: 280px;
    }
    .card .conText p {
      margin-bottom: 0px;
      opacity: 1;
    }
    .card img {
      transform: scale(1.25);
    }
    .card .ul {
      transform: translate(0);
      opacity: 1;
    }
    .card .conText {
      padding-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .imgCard {
    height: 250px;
    border-radius: inherit;
  }
}
