@import './partials/_variables.scss';
@import './partials/_reboot.scss';
@import './partials/_helpers.scss';
@import './partials/_mixins.scss';

body {
  margin: 0;
  font-family: #{$font-family-sans-serif};
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 0.85rem;
  }
}